
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<title>Linear_regr_UI</title>
</head>
<body>

<h1>WELCOME</h1>



<form action="http://localhost:5000/linear" method = "GET">


<select name= "product"  method="GET" action="/">
    {% for product in menu %}
    <option value= "{{product}}" SELECTED>{{product}}</option>"
    {% endfor %}
</select>

</select>

  <br>
  YEARS_AGO:<br>
  <input type="number" name="years_ago">
  <br><br>
  <input type="submit" value="GO">
</form>
<h3> Product Name:{{product}}</h3>
<h3> Years:{{years_ago}}</h3>
<!--<h3> Selection:{{Item_1}}</h3>-->

<img src="data:image/png;base64, {{encoded_string}}" />

</body>
</html>
